.inputSearchIcon{
    background-color:#ffffff;
    border-right:none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
.inputSearch{
    width: 100px !important;
    background-color:#ffffff;
    border-left:none;

    border-top-right-radius: 8px !important;
    -webkit-border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    -webkit-border-bottom-right-radius: 8px !important;
}